@tailwind base;

@tailwind components;

@tailwind utilities;

.theme-light {
    --bg-background-primary: white;
    --bg-background-secondary: #f7fafc;
    --bg-background-tertiary: #e2e8f0;
  
    --bg-background-form: white;
  
    --text-copy-primary: #2d3748;
    --text-copy-secondary: #4a5568;
  
    --border-border-color-primary: white;
  
    --accent-color: #0086e6;
  }

body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    margin:0;
    padding:0;
    line-height: 1.5;
    background-color: var(--accent-color);
  }
  
  .layout {
    max-width: 760px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    height: 80px;
  }
  
  .nav__link {
    margin-left: 20px;
  }